.events {
	position: relative;
	padding: 50px 0;

	h2.title {
		font-size: 36px;
		color: var(--color-accent);
		font-weight: 700;
		margin: 0 0 17px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	h3.description {
		font-size: 14px;
		color: #7C7C7C;
		font-weight: 400;
		margin: 0 0 17px;
	}

	&__wrap {
		position: relative;
		display: grid;
		gap: 27px 54px;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 50px;

		.item-report {
			border: 1px solid #C2C2C2;
			padding: 15px;
			text-decoration: none;
			background: #F8F8F8;
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&::before {
				content: '';
				display: block;
				width: 14px;
				height: 14px;
				background: url('images/arrow.svg') no-repeat;
				margin-right: 20px;
			}

			&::after {
				content: '';
				display: block;
				width: 44px;
				height: 44px;
				background: url('images/download.svg') no-repeat;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}

		p.date {
			font-size: 14px;
			color: rgba($color: #000000, $alpha: 0.25);
			margin: 0;
		}

		h3.entry-title {
			font-size: 14px;
			color: #000000;
			font-weight: 700;
			margin: 0;
		}
	}

	&__item {
		padding-right: 135px;
		position: relative;
	}

	&__image {
		position: relative;

		&::after {
			content: '';
			display: block;
			padding-bottom: 37%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__date {
		position: absolute;
		top: -53px;
		right: 0;
		padding: 16px 30px;
		background: var(--color-accent);
		color: var(--color-white);

		p {
			margin: 0;
			display: flex;
			align-items: center;
		}

		.day {
			font-size: 48px;
			font-weight: 700;
			display: flex;
			align-items: center;

			&::after {
				content: '';
				display: block;
				width: 1px;
				height: 50px;
				background: var(--color-white);
				margin: 0 20px;
			}
		}

		.month::after {
			content: '';
			display: block;
			width: 1px;
			height: 50px;
			background: var(--color-white);
			margin: 0 20px;
		}

		.month,
		.year {
			font-size: 24px;
			font-weight: 400;
			display: flex;
			align-items: center;
		}
	}

	&__content {
		position: relative;
		padding: 20px 0;
		width: 70%;

		h3 {
			font-size: 18px;
			color: var(--color-accent);
			margin: 0 0 20px;
			@include set-line(2);

			a {
				text-decoration: none;

				&:hover {
					color: var(--color-black);
				}
			}
		}

		.entry-content {
			color: #7C7C7C;
			@include set-line(3);
			text-align: justify;
		}

		p {
			margin-bottom: 0;
		}
	}
}

@media only screen and(min-width: 1600px) {
	.events {
		&__wrap {
			.slick-prev {
				top: 70%;
			}

			.slick-next {
				top: 70%;
			}
		}
	}
}

@media only screen and(max-width: 1024px) {
	.events {
		&__wrap {
			.slick-prev {
				top: 55%;
			}

			.slick-next {
				top: 55%;
			}

			.slick-dots {
				bottom: -25px;
				top: auto;
			}

			.slick-list {
				padding-right: 20%;
			}
		}

		&__date {
			.day {
				font-size: 26px;
			}

			.month,
			.year {
				font-size: 15px;
			}
		}
	}
}

@media only screen and(max-width: 767px) {
	.events {
		&__date {
			padding: 5px 15px;
			top: -30px;
		}

		&__wrap {
			grid-template-columns: repeat(1, 1fr);
		}

		&__image {
			&::after {
				padding-bottom: 75%;
			}
		}

		&__item {
			padding-right: 50px;
		}

		&__content {
			width: 100%;
		}
	}
}