.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	background: #fff;
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

}
.site-main {
	margin-top: 65px;
}
.site-branding {
	display: flex;
	align-items: center;
	.logo-main {
		display: block;
	}
	.logo-hover {
		display: none;
	}
	&:hover {
		.logo-main {
			display: none;
		}
		.logo-hover {
			display: block;
		}
	}
}
.header-menu {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	--width: 100vw;
    margin-right: calc(50% - var(--width)/2);
	background-color: #F2F2F2;
	padding-right: 60px;
	&::before {
		content: '';
		display: block;
		width: 65px;
		height: 65px;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		background: #f2f2f2;
		position: absolute;
		left: -64px;
	}
	&__languages {
		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
		}
		li {
			list-style: none;
			margin-left: 10px;
		}
	}
}
@media all and ( max-width: 767px) {
	.header-menu {
		background: none;
		padding-right: 0px;
		&::before {
			display: none;
		}
	}
}