// Primary Menu.
.nav {
	font-size: var(--text-md);
	z-index: 1;
	font-family: var(--font-poppins);

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding: 31px 35px;

		@media only screen and (max-width: 1280px) {
			padding: 31px 20px;
		}

		&.current-menu-item {
			a {
				color: var(--color-accent);
				font-weight: 700;
				border-bottom: 3px solid var(--color-accent);
			}
		}
	}

	a {
		font-size: 14px;
		font-weight: 500;
		color: var(--color-black);
		text-transform: uppercase;
		position: relative;
		text-decoration: none;

		&::before {
			content: '';
			display: block;
			width: 51px;
			height: 45px;
			background: url('images/bg_menu.png') no-repeat;
			position: absolute;
			top: -13px;
			right: -27px;
			opacity: 0;
			z-index: -1;
		}

		&:hover {
			background-color: #BDBDBD;
			color: var(--color-accent);

			&::before {
				opacity: 1;
			}
		}
	}

	.menu {
		box-shadow: var(--shadow-md);
		border-bottom: 1px solid var(--color-light);

		>li {
			@media (min-width: 992px) {
				display: flex;
				align-items: center;

				&:not(:last-child):after {
					content: '';
					display: block;
					width: 2px;
					height: 12px;
					background: #e6e6e6;
					margin: 0 12px;
				}
			}
		}
	}

	// Indent sub menus.
	.sub-menu {
		text-indent: 12px;
		font-size: var(--text-sm);

		ul {
			text-indent: 24px;

			ul {
				text-indent: 36px;
			}
		}

		a {
			display: inline-block;
		}
	}
}

// Active status on selected.
.current-menu-item>a,
.current-menu-item>.menu-text,
.current-menu-ancestor>.menu-text {
	color: var(--color-accent);
}

// Toggle icon for hamburger menu.
.menu-toggle {
	background: transparent;
	border: none;
	color: var(--c-dark);
	line-height: 1;
	cursor: pointer;
	padding: 0 5px;

	svg {
		width: 24px;
		height: 24px;
	}
}

// Dropdown icon for submenu toggling.
.menu-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	a {
		padding-right: 0;
		flex: 1;
	}
}

.sub-menu-toggle {
	color: inherit;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;

	@media all and (min-width: 1600px) {
		padding: 12px 12px 12px 0;
	}

	@media all and (min-width: 992px) {
		padding: 8px 0;
	}

	border: none;

	&:hover {
		border: none;
	}

	svg {
		width: 16px;
		height: 16px;
		transition: all 0.2s;
	}
}

.is-open>.menu-text svg {
	transform: rotate(180deg);
}

// AMP.
.no-js {
	.nav li {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.sub-menu-toggle.is-open+.sub-menu {
			display: block;
			width: 100%;
		}
	}

	.menu-text {
		flex: 1;

		.sub-menu-toggle {
			display: none;
		}
	}
}

@media (min-width: 992px) {
	.menu-toggle {
		display: none;
	}

	.nav {
		.menu {
			box-shadow: none;
			display: flex;
			align-items: center;
		}

		li {
			position: relative;
		}

		// Dropdown 2nd level.
		.sub-menu {
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 999;
			background: #fff;
			width: 220px;
			box-shadow: var(--shadow-md);
			text-indent: 0;
		}

		// Dropdown 3-rd, 4th, ... level submenu
		.sub-menu ul {
			top: 0;
			left: 100%;
		}

		.menu,
		.menu>li,
		li:first-child {
			border: none;
		}
	}

	.nav li:hover>ul {
		display: block;
	}

	// Active status when hover.
	.nav li:hover>a,
	.nav li:hover>.menu-text {
		color: var(--color-accent);
	}

	.sub-menu .sub-menu-toggle svg {
		transform: rotate(-90deg);
	}
}

@media (max-width: 992px) {
	.nav {
		display: none;

		&.is-open {
			display: block;
			position: absolute;
			top: 36px;
			background: #F2F2F2;
			width: max-content;

			ul {
				display: block;
			}

			li {
				padding: 10px 15px;
			}

			.menu {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 9;
				background: #fff;
				margin: 0;
			}
		}
	}
}