.vision {
	position: relative;
	background: #F2F2F2;
	padding: 65px 0;

	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 56px;
	}

	&__item {

		h1 {
			font-weight: 700;
			font-size: 144px;
			line-height: 0;
			color: #2F3090;
		}

		h2 {
			font-weight: 700;
			font-size: 48px;
			line-height: 1.3;
			color: #2F3090;
			margin: 0;
		}

		.entry_content {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.3;
			text-align: justify;
		}
	}
}

@media(max-width:767px) {
	.vision {
		&__inner {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 56px;
		}
	}
}

@media(min-width:768px) and (max-width:1023px) {
	.vision {
		&__inner {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}